fastapi==0.115.0
uvicorn[standard]==0.30.6

streamlit==1.42.0
streamlit-autorefresh==1.0.1

faster-whisper==1.1.0

pyannote.audio==3.3.2

torch==2.2.2
torchaudio==2.2.2

ffmpeg-python==0.2.0
yt-dlp==2025.4.30

soundfile==0.13.1
numpy==1.26.4

opencv-python-headless==4.11.0.86

python-multipart==0.0.20
pydantic==2.10.0
python-dotenv==1.0.1

requests==2.32.3
sentencepiece==0.2.0